
* {
    
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: 'Lemonada', cursive ,serif;
}
 

/*starting constant*/



.container{
    width: 1200px;
    margin: auto;
}
.uper{
    text-transform: uppercase;
}
.clear-fix{
    clear: both;
}
.directoin
{
    direction: rtl;
}
/********** End constant ************/


/***********  *************/
/***********  *************/


/***********starting small-header  *************/
.small-header
{
    /*background-color: aliceblue;*/
}
.small-header .container
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.small-header .container .icons
{
    
}
.small-header .container .icons i
{
    margin-right: 5px;
    background-color: #31394a;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.small-header .container .icons i:hover
{
    background-color: #5f9ea0;
}
.small-header .container .links
{
    direction: rtl;
}
.small-header .container .links a
{
    text-decoration: none;
    font-size: 13px;
    color: #000;
}
.small-header .container .links .link-1
{
    
}
.small-header .container .links .link-1:before
{
    content: " \f015";
    font-family: 'fontAwesome';
    margin-left: 8px;
    
}
.small-header .container .links .link-1:after, .small-header .container .links .link-2:after
{
    content: " |";
}
.small-header .container .links .link-2
{
    
}
.small-header .container .links .link-2:before
{
    content: " \f007";
    font-family: 'fontAwesome';
    margin-left: 8px;
    margin-right: 7px;
}
.small-header .container .links .link-3
{
    
}
.small-header .container .links .link-3:before
{
    content: " \f095";
    font-family: 'fontAwesome';
    margin-left: 8px;
    margin-right: 7px;
}
/***********End small-header  *************/


/***********  *************/
/***********  *************/


/*********** starting navbar *************/
.navbar
{
    direction: rtl;
    background-color: #31394a !important;
}
.navbar .container
{
    padding-top: 15px;
    padding-bottom: 15px
}
.navbar .logo
{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 20px;
}
.navbar .logo:hover
{
    color:darkgray !important;
}
.navbar .nav-link
{
    color:darkgray !important;
    transition: all .3s ease-in-out;  
}
.navbar .nav-link:hover
{
    background-color: cadetblue;
    color: #fff !important;
    border-radius: 20px;
}
/*********** End navbar *************/

/***********strating carousel  *************/

.carousel-indicators li 
{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 25px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background-color: #31394a;
    left: -440px;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
    display: none;
}
.carousel .carousel-item 
{
    height: 500px;
}
.carousel:after
{
    content: " ";
    background-color: #31394a;
    position: absolute;
    width: 100%;
    height: 12px;
    bottom: -8px;
}
.carousel .carousel-inner .vocab
{
    position: absolute;
    bottom: 100px;
    text-align: right;
    width: 450px;
    right: 105px;
    /*background-color: #e85a5a;*/
    color: #fff;
    padding: 10px;
}
.carousel .carousel-inner .vocab h3
{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}
.carousel .carousel-inner .vocab p
{
    line-height: 2.5;
    font-size: 14.5px;
}
/*.fristslider .overlay
{
    background: rgba(66,67,71,0.75);
    width: 100%;
    height: 100%
}*/
/*.carousel .carousel-inner .vocab:after
{
    content: " ";
    border-top: 25px solid #e85a5a;
    border-right: 25px solid transparent ;
    border-bottom: 25px solid transparent ;
    border-left: 25px solid transparent ;
    position: absolute;
    bottom: -50px;
    right: 70px;
}*/
/*********** End carousel  *************/


/***********  *************/
/***********  *************/


/*********** starting about *************/
.about
{
    /*background: url('../img/secondslider.png');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -0-background-size:cover;
    background-size:cover;
    overflow: hidden;*/
}
.about .overlay
{
    width: 100%;
    height: 100%;
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.about .overlay h2
{
    background-color: #59556c;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.about .container
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.slick-prev:before, .slick-next:before 
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.about .container .up
{
    text-align: center;
}

.about .container .up p
{
    width: 65%;
    margin: auto;
    color: #fff;
    font-weight: normal;
    line-height: 1.9;
    font-size: 14px;
}

/*********** End about *************/


/***********  *************/
/***********  *************/


/***********starting join  *************/
.join
{
    background: url('../img/join.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -0-background-size:cover;
    background-size:cover;
    overflow: hidden;
}

.join .overlay
{
    background: rgba(99,94,119,.75);
    width: 100%;
    height: 100%;
}
.join .container
{
    padding-top: 100px;
    padding-bottom: 150px;
}
.join .container .vocab
{
    background-color: rgba(95,158,160,.5);
    width: 345px;
    margin-left: 35%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.join .container .vocab:after
{
    content: " ";
    border-top: 20px solid rgba(95,158,160,.5);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 39px;
    right: 45px;
}
.join .container .vocab h3
{
    text-align: right;
    color: lightblue;
    font-size: 23px;
    margin-bottom: 15px;
}
.join .container .vocab p
{
    text-align: right;
    color: snow;
}
.join .container a
{
    text-decoration: none;
    display: inline-block;
    margin-left: 83%;
    margin-top: 15px;
    color: #fff;
    background-color: #31394a;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.join .container a:hover
{
    background-color: transparent;
}
/*********** End join *************/


/***********  *************/
/***********  *************/


/*********** starting last projects *************/
.last-projects
{
    background-color: #f4f4f4;
    overflow: hidden;
}
.last-projects .container
{
    
}
.last-projects h2
{
    padding-top: 45px;
    text-align: center;
    color: rgba(95,158,160,.75);
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 26px;
}
.last-projects hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid rgba(95,158,160,.75);
    width: 140px;
}
.last-projects .hover-box
{
    margin: auto;
    position: relative;
    padding: 0px;
    overflow: hidden;
}


.last-projects .hover-box .out-box
{
    position: absolute;
    left: 0px;
    bottom: 50px;
    margin: 0px;
    color: #fff;
    /*background: rgba(32,189,236,.85);  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, rgba(32,189,236,.85), rgba(51,215,186,.7));  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, rgba(32,189,236,.85), rgba(51,215,186,.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba(95,158,160,.75);
    padding: 15px;
    font-weight: normal;
    /*border-top: 2px solid;
    border-right: 2px solid;
    border-right: 2px solid;*/
    transform: translate(0, 160px);
    transition: .5s;
    font-size: 19px;
    text-align: right;
    width: 100%;
}

.last-projects .hover-box:hover .out-box
{
    transform: translate(0,50px);
    
}
.last-projects .hover-box:hover img
{
    transform: scale(1.2,1.2);
    
}
.last-projects .hover-box img
{
    width: 100%;
    transition: .7s ;
}
.last-projects .hover-box h4
{
    margin-bottom: 20px;
    /* font-weight: bold; */
    font-size: 18px;
    color: lightblue;
}
.last-projects .hover-box p
{
    font-size: 15px;
}
.last-projects .container .vocab
{
    background-color: rgba(95,158,160,1);
    width: 345px;
    margin-left: 35%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 100px;
    border-radius: 10px;
}
.last-projects .container .vocab:after
{
    content: " ";
    border-top: 20px solid rgba(95,158,160,1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 175px;
    right: 162px;
}
.last-projects .container .vocab h3
{
    text-align: right;
    color: lightblue;
    font-size: 23px;
    margin-bottom: 15px;
}
.last-projects .container .vocab p
{
    text-align: right;
    color: snow;
}
.last-projects .container a
{
    text-decoration: none;
    display: inline-block;
    margin-left: 49%;
    margin-top: 15px;
    color: #fff;
    background-color: #31394a;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.last-projects .container a:hover
{
    background: rgba(95,158,160,1);
}
/***********  End last projects  *************/


/***********  *************/
/***********  *************/


/*********** starting now project *************/
.now-projects
{
    background-color: #f4f4f4;
    overflow: hidden;
}
.last-projects .container
{
    
}
.now-projects h2
{
    padding-top: 45px;
    text-align: center;
    color: rgba(95,158,160,.75);
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 26px;
}
.now-projects hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid rgba(95,158,160,.75);
    width: 140px;
}
.now-projects .hover-box
{
    margin: auto;
    position: relative;
    padding: 0px;
    overflow: hidden;
}


.now-projects .hover-box .out-box
{
    position: absolute;
    left: 0px;
    bottom: 50px;
    margin: 0px;
    color: #fff;
    /*background: rgba(32,189,236,.85);  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, rgba(32,189,236,.85), rgba(51,215,186,.7));  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, rgba(32,189,236,.85), rgba(51,215,186,.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba(95,158,160,.75);
    padding: 15px;
    font-weight: normal;
    /*border-top: 2px solid;
    border-right: 2px solid;
    border-right: 2px solid;*/
    transform: translate(0, 160px);
    transition: .5s;
    font-size: 19px;
    text-align: right;
    width: 100%;
}

.now-projects .hover-box:hover .out-box
{
    transform: translate(0,50px);
    
}
.now-projects .hover-box:hover img
{
    transform: scale(1.2,1.2);
    
}
.now-projects .hover-box img
{
    width: 100%;
    transition: .7s ;
}
.now-projects  .hover-box h4
{
    margin-bottom: 20px;
    /* font-weight: bold; */
    font-size: 18px;
    color: lightblue;
}
.now-projects .hover-box p
{
    font-size: 15px;
}
.now-projects .container .vocab
{
    background-color: rgba(95,158,160,1);
    width: 345px;
    margin-left: 35%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 100px;
    border-radius: 10px;
}
.now-projects .container .vocab:after
{
    content: " ";
    border-top: 20px solid rgba(95,158,160,1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 74px;
    right: 162px;
}
.now-projects .container .vocab h3
{
    text-align: right;
    color: lightblue;
    font-size: 23px;
    margin-bottom: 15px;
}
.now-projects .container .vocab p
{
    text-align: right;
    color: snow;
}
.now-projects  .container a
{
    text-decoration: none;
    display: inline-block;
    margin-left: 49%;
    margin-top: 15px;
    color: #fff;
    background-color: #31394a;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.now-projects .container a:hover
{
    background: rgba(95,158,160,1);
}
/*********** End now project *************/


/***********  *************/
/***********  *************/


/*********** starting video  *************/
.video
{
    background-color: #f4f4f4;
    overflow: hidden;
}
.video .container
{
    padding-top: 50px;
    ;padding-bottom: 30px;
}
.video .container h2
{
    text-align: center;
    color: rgba(95,158,160,.75);
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 26px;
}
.video .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid rgba(95,158,160,.75);
    width: 140px;
}
.video .container .vocab
{
    background-color: rgba(95,158,160,1);
    width: 345px;
    margin-left: 35%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 10px;
}
.video .container .vocab:after
{
    content: " ";
    border-top: 20px solid rgba(95,158,160,1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 81px;
    right: 162px;
}
.video .container .vocab h3
{
    text-align: right;
    color: lightblue;
    font-size: 23px;
    margin-bottom: 15px;
}
.video .container .vocab p
{
    text-align: right;
    color: snow;
}
.video  .container a
{
    text-decoration: none;
    display: inline-block;
    margin-left: 50%;
    margin-top: 15px;
    color: #fff;
    background-color: #31394a;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.video .container a:hover
{
    background: rgba(95,158,160,1);
}
/***********  End video*************/


/***********  *************/
/***********  *************/


/*********** starting contact *************/
.contact
{
    background-color: #28303d;
}
.contact .container
{
    padding-top: 30px;
    padding-bottom: 15px;
}
.contact .container h3
{
    color: #fff;
    font-size: 18px;
    text-align: right;
    transition: all .3s ease-in-out;
}
.contact .container h3:hover
{
    margin-right: 15px
}
.contact .container hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #5f9ea0;
}
.contact .container p
{
    color: darkgray;
    font-size: 13px;
    text-align: right;
}
.contact .container a
{
    color: darkgray;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 7px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.contact .container a:hover
{
    margin-right: 15px;
}
.contact .container .links
{
    
}
.contact .container .social
{
    text-align: right;
}
.contact .container .social i
{
    color: #fff;
    background-color: #31394a;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.contact .container .social i:hover
{
    background-color: #5f9ea0;
}

.contact .container .data
{
    text-align: right;
}
.contact .container .data p
{
    display: inline-block;
}
.contact .container .data i
{
    color: #fff;
    background-color: #31394a;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.contact .container .data i:hover
{
    background-color: #5f9ea0;
}
.contact .container .count
{
    text-align: right;
}
.contact .container .count p
{
    display: inline-block;
}
.contact .container .count i
{
    color: #fff;
    background-color: #31394a;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.contact .container .count i:hover
{
    background-color: #5f9ea0;
}
/*********** End contact *************/


/***********  *************/
/***********  *************/


/***********starting copyright  *************/
.copyright
{
    background-color: #202531;
    margin-bottom: 0px;
    padding: 17px;
}
.copyright p
{
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 13px;
}
/*********** End copyright *************/


/***********  *************/
/***********  *************/

/*********** starting scroll-top *************/
#scroll-top
{
    background-color: #5f9ea0;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: none;
    cursor: pointer;
    color: #31394a;
    
}
#scroll-top:hover
{
    opacity: .85;
}
/*********** End scroll-top *************/


/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/*********** 
/***********
@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/


*************/
/***********  *************/
/***********  *************/




/***********media query  *************/
@media (max-width: 576px)
{
    .container
    {
        width: auto;
    }
}
@media (min-width: 576px)
{
    .container
    {
        width: 540px;
    }
}
@media (min-width: 768px)
   
{
    .container
    {
        width: 720px;
    }
}
@media (min-width: 992px)
 
{
    .container
    {
        width: 960px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1200px;
    }
}
/******* End @media *********/